

.button   {
	width: 400px;
  	height: 50px;
  	border-radius: 5px;
  	background: #FFCA33;
	font-family: 'Gayathri', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;

}

#valid {
	transition: width 3s;
}

#valid:hover {
	width: 500px;
	height: 60px;
	background-color: greenyellow;
}

#caniuse {
 	transition: rotate 4s;
}

#caniuse:hover {

	display: flex;
	justify-content: start;
	background-color: darksalmon;
	transform: rotate(180deg); 

	}
a:hover {
	background-color: rgb(171, 171, 214);

}

a {
	text-decoration: none;
}